@import url(https://fonts.googleapis.com/css?family=Raleway:100);
* {
  box-sizing: border-box;
  font-family: "Raleway", Helvetica;
}

body {
  text-align: center;
  background: #ffc6c6;
}

.title {
  color: #ce5b6c;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
}

.board {
  width: 400px;
  width: 400px;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  line-height: 135px;
}

.board-row {
  display: flex;
}

.board-space {
  flex: 1;
  height: 135px;
  cursor: pointer;
  transition: all 0.15s;
  background: #f7f4f0;
  border-width: 1px;
  border-style: solid;
  border-color: #ce5b6c;
  border-radius: 5px;
  box-shadow: #ffead0;
  margin: 2px;
}

.board-space:hover {
  background: #ffead0;
}

.board-space.selected-space {
  background: #ce5b6c;
  color: #ffffff;
}

.board-space.selected-space:hover {
  color: #ffead0;
}

.message {
  text-align: center;
}

#button {
  cursor: pointer;
  border: 1px solid;
  margin-bottom: 30px;
  border-radius: 5px;
  border-color: #ce5b6c;
  color: #ce5b6c;
  padding: 5px;
}

#button:hover {
  transition: all 0.15s;
  background: #ffead0;
}
